Repository Phearion/big-brain: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --ignore-unknown, eslint --fix, stylelint --fix --allow-empty-input, vite related --run --config ../../vite.config.ts

Update LICENSE
  LICENSE
Due: prettier --write --ignore-unknown

License patch (#12)
  LICENSE
Due: prettier --write --ignore-unknown

build: deploy process + link with deployed api
  .github/workflows/deploy.yml
  .gitignore
  src/__tests__/test.tsx
  src/components/submit.tsx
  src/sanitizer/sanitizer.ts
  src/sushi/sushi.tsx
Due: prettier --write --ignore-unknown

chore: merge main + import meta interface
  .github/workflows/deploy.yml
  package-lock.json
  package.json
  src/sushi/sushi.tsx
  src/typings.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat: big brain app fetch sushi api (#9)
  .github/workflows/deploy.yml
  .gitignore
  package-lock.json
  package.json
  src/__tests__/test.tsx
  src/components/submit.tsx
  src/sanitizer/sanitizer.ts
  src/sushi/sushi.tsx
  src/typings.tsx
Due: prettier --write --ignore-unknown, eslint --fix

fix: alert message popup when the history is empty (#15)
  src/components/history.tsx
Due: prettier --write --ignore-unknown

Updates
  assets/index-9d8f9455.js
  assets/index-d2c4852f.css
  assets/index-ecb69ec2.js
  assets/index-fcb6a860.css
  img/pdf-extension.png
  index.html
Due: prettier --write --ignore-unknown

Updates
  assets/index-2cc1b06b.js
  assets/index-a0a2feb9.css
  assets/index-d2c4852f.css
  img/clock.png
  index.html
Due: prettier --write --ignore-unknown

Updates
  assets/index-079f5880.css
  assets/index-a0a2feb9.css
  assets/index-aafa4a6e.js
  index.html
Due: prettier --write --ignore-unknown

Updates
  assets/index-079f5880.css
  assets/index-b73f1b1d.js
  assets/index-dd621670.css
  index.html
Due: prettier --write --ignore-unknown

feat: Website is now responsive for a large range of screen sizes (#16)
  package-lock.json
  package.json
  public/img/clock.png
  src/App.css
  src/components/history.tsx
  src/ts/resourcesList.ts
Due: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input

Updates
  assets/index-32f7aa6b.js
  assets/index-4dd94591.css
  assets/index-b73f1b1d.js
  assets/index-dd621670.css
  index.html
Due: prettier --write --ignore-unknown

chore: modified the size of the input text (#17)
  src/App.css
Due: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input

Updates
  assets/index-32f7aa6b.js
  assets/index-4a20ee44.js
  assets/index-4dd94591.css
  assets/index-6898d7ae.css
  img/clock.png
  index.html
Due: prettier --write --ignore-unknown

Updates
  assets/index-3b045558.css
  assets/index-6898d7ae.css
  assets/index-7cc34bd3.js
  index.html
Due: prettier --write --ignore-unknown

Updates
  assets/index-25d7719f.js
  assets/index-3b045558.css
  assets/index-78bec188.css
  assets/index-7cc34bd3.js
  img/clock.png
  index.html
Due: prettier --write --ignore-unknown

Updates
  assets/index-78bec188.css
  assets/index-7b0ff86a.js
  assets/index-d38b2e9a.css
  index.html
Due: prettier --write --ignore-unknown

fix: fixed components and disabled vertical scroll
  src/App.css
Due: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input

feat: post request to sushi to save data on db
  jest.config.js
  src/components/submit.tsx
  src/sushi/saveRequest.tsx
Due: prettier --write --ignore-unknown

chore: userID to userId
  src/sushi/saveRequest.tsx
Due: prettier --write --ignore-unknown

chore: add jest module for unit testing
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

test: the first unit tests to test all the use cases of submit
  src/__tests__/submit.test.tsx
Due: prettier --write --ignore-unknown

test: all tests passed for submit behaviour
  jest.config.cjs
  jest.setup.js
  package-lock.json
  package.json
  src/__tests__/submit.test.tsx
  tsconfig.json
Due: prettier --write --ignore-unknown

test: add many tests for the submit behavior and test receiving file (doesn't work)
  src/__tests__/components.test.tsx
  src/__tests__/files_reception.test.tsx
  src/__tests__/submit.test.tsx
Due: prettier --write --ignore-unknown

feat: improve error handling for saveRequest
  src/components/submit.tsx
  src/sushi/saveRequest.tsx
Due: prettier --write --ignore-unknown

test: remove the tests for receiving files
  src/__tests__/files_reception.test.tsx
Due: prettier --write --ignore-unknown

feat: post request to sushi to save data (#3)
  jest.config.js
  src/components/submit.tsx
  src/sushi/saveRequest.tsx
Due: prettier --write --ignore-unknown

feat: now converting back data from sushi to pdf
  src/components/body.tsx
  src/components/output.tsx
  src/components/submit.tsx
  src/sushi/sushi.tsx
Due: prettier --write --ignore-unknown

chore: components now Pascal case
  src/App.tsx
  src/__tests__/components.test.tsx
  src/components/Body.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/History.tsx
  src/components/Output.tsx
  src/components/Submit.tsx
  src/components/Tips.tsx
Due: prettier --write --ignore-unknown, eslint --fix

fix: fixed components and disabled vertical scroll (#2)
  src/App.css
Due: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input

feat: handling data from SUSHI to render pdfs (#5)
  src/App.tsx
  src/__tests__/components.test.tsx
  src/components/Body.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/History.tsx
  src/components/Output.tsx
  src/components/Submit.tsx
  src/components/Tips.tsx
  src/components/output.tsx
  src/sushi/sushi.tsx
Due: prettier --write --ignore-unknown, eslint --fix

build: deploy update
  .github/workflows/deploy.yml
Due: prettier --write --ignore-unknown

build: deploy on new tag
  .github/workflows/deploy.yml
Due: prettier --write --ignore-unknown

build: deploying on new tag
  .github/workflows/deploy.yml
Due: prettier --write --ignore-unknown

build: git config during deploy
  .github/workflows/deploy.yml
Due: prettier --write --ignore-unknown

build: using JamesIves to deploy on actions
  .github/workflows/deploy.yml
Due: prettier --write --ignore-unknown

build: added secrets token for deploy
  .github/workflows/deploy.yml
Due: prettier --write --ignore-unknown

Deploying to gh-pages from @ ipsa-scrypt/big-brain@067c4bd72a8e2a634c68d37ce3468feec9d33409 🚀
  assets/index-7b0ff86a.js
  assets/index-NNl_yPWQ.css
  assets/index-Y0Oz6Qm9.js
  index.html
Due: prettier --write --ignore-unknown

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write --ignore-unknown: any of: *
  eslint --fix: any of: {src/**,__tests__/**}.{mjs,js,cjs,ts,tsx}
  stylelint --fix --allow-empty-input: any of: src/**/*.{css,scss}
  vite related --run --config ../../vite.config.ts: any of: src/**.ts
