Repository Phearion/big-brain: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, prettier --ignore-unknown --write, eslint --fix, vite related --run --config ../../vite.config.ts

chore: now running with vite, eslint and husky
  .commitlintrc.json
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package.json
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/bb.png
  src/bb2.png
  src/components/footer.tsx
  src/components/header.tsx
  src/components/submit.tsx
  src/index.css
  src/index.tsx
  src/logo.png
  src/logo.svg
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/setupTests.ts
Due: prettier --ignore-unknown --write, eslint --fix, vite related --run --config ../../vite.config.ts

chore: now using vite to build, eslint and husky
  .commitlintrc.json
  .eslintrc.cjs
  .gitignore
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  eslint.config.js
  index.html
  package-lock.json
  package.json
  public/vite.svg
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.node.json
  unocss.config.ts
  vite.config.ts
Due: prettier --ignore-unknown --write, eslint --fix, vite related --run --config ../../vite.config.ts

chore: eslint modif
  package-lock.json
Due: prettier --ignore-unknown --write

chore: create first UI prototype and lint modification
  .commitlintrc.json
  .eslintrc.cjs
  .husky/commit-msg
  eslint.config.js
  package.json
  src/App.css
  src/App.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/components/submit.tsx
  src/custom.d.ts
  src/index.css
  src/index.tsx
  src/logo.png
  src/logo.svg
  src/setupTests.ts
  src/vite-env.d.ts
Due: prettier --ignore-unknown --write, eslint --fix, vite related --run --config ../../vite.config.ts

feat: implementation of interaction when user click on submit button
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/components/footer.tsx
  src/components/submit.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: modernize the UI
  img/avion.png
  img/cerveau.png
  img/envoyer.png
  img/logo.png
  package.json
  src/App.css
  src/App.tsx
  src/components/header.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore: added prettier and linter for stylesheets
  .commitlintrc.json
  .lintstagedrc.json
  .prettierrc
  .stylelintrc
  eslint.config.js
  index.html
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/components/submit.tsx
  src/custom.d.ts
  src/index.css
  src/index.tsx
  src/main.tsx
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.node.json
  unocss.config.ts
  vite.config.ts
Due: prettier --ignore-unknown --write, eslint --fix, vite related --run --config ../../vite.config.ts

fix: all style related lint errors
  .husky/commit-msg
  .lintstagedrc.json
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/components/submit.tsx
  src/index.css
Due: prettier --ignore-unknown --write, eslint --fix

fix: fix blank field in the footer by adding body in index.css
  src/App.css
  src/App.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/index.css
Due: prettier --ignore-unknown --write, eslint --fix

fix: issue with tests: delete all tests !
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/components/header.tsx
  src/custom.d.ts
  src/index.css
  src/setupTests.ts
  tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix, vite related --run --config ../../vite.config.ts

feat: website is now responsive
  package-lock.json
  package.json
  src/App.tsx
Due: prettier --ignore-unknown --write, eslint --fix

chore: moved @types dependencies to dev
  package-lock.json
  package.json
  src/App.css
  src/index.css
Due: prettier --ignore-unknown --write

test: added babel to work with jest on components
  .babelrc
  package-lock.json
  package.json
  src/App.tsx
  src/__tests__/components.test.tsx
  src/setupTests.ts
  tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix, vite related --run --config ../../vite.config.ts

chore: moved test dependencies to dev
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

[BB-03] Print tips on the website (#3)
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/components/request.tsx
  src/components/section.tsx
  src/components/submit.tsx
  tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

feat: the sanitizer is good
  package-lock.json
  package.json
  src/Sanitizer/test.ts
  src/__tests__/test.tsx
  src/components/submit.tsx
Due: prettier --ignore-unknown --write

fix: test environment
  jest.config.cjs
  package-lock.json
  package.json
  src/Sanitizer/sanitizer.tsx
  src/Sanitizer/test.ts
  src/__tests__/test.tsx
Due: prettier --ignore-unknown --write

fix: test environment
  src/Sanitizer/sanitizer.tsx
Due: prettier --ignore-unknown --write

feat: the sanitizer is good
  package-lock.json
  package.json
  src/Sanitizer/Sanitizer.ts
  src/Sanitizer/sanitizer.tsx
  src/__tests__/test.tsx
Due: prettier --ignore-unknown --write

feat: the sanitizer is good
  src/Sanitizer/Sanitizer.ts
Due: prettier --ignore-unknown --write

[BB-06] Sanitizer (#5)
  jest.config.cjs
  package-lock.json
  package.json
  src/Sanitizer/Sanitizer.ts
  src/__tests__/test.tsx
  src/components/submit.tsx
Due: prettier --ignore-unknown --write

[BB-05] Responsive website (#4)
  img/aircraft.png
  img/brain.png
  img/send.png
  img/user.png
  index.html
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/components/body.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/components/output.tsx
  src/components/request.tsx
  src/components/section.tsx
  src/components/submit.tsx
  src/components/tips.tsx
  src/index.css
Due: prettier --ignore-unknown --write, eslint --fix

feat: gh-pages for react app
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat: gh-pages setup
  vite.config.ts
Due: prettier --ignore-unknown --write

build: deploy process to gh-pages + img to public/
  package.json
  public/img/aircraft.png
  public/img/brain.png
  public/img/logo.png
  public/img/send.png
  public/img/user.png
  vite.config.ts
Due: prettier --ignore-unknown --write

build: deploy process to gh-pages + img to public/ (#7)
  package.json
  public/img/aircraft.png
  public/img/brain.png
  public/img/logo.png
  public/img/send.png
  public/img/user.png
  vite.config.ts
Due: prettier --ignore-unknown --write

Updates
  img/aircraft.png
  img/brain.png
  img/logo.png
  img/send.png
  img/user.png
  index.html
Due: prettier --ignore-unknown --write

feat: big brain app fetch sushi api
  src/components/submit.tsx
Due: prettier --ignore-unknown --write

chore: readme update
  README.md
  bigbrain.png
  img.png
Due: prettier --ignore-unknown --write

chore: removed duplicate img
  img.png
Due: prettier --ignore-unknown --write

chore: readme update (#10)
  README.md
  bigbrain.png
Due: prettier --ignore-unknown --write

Create LICENSE
  LICENSE
Due: prettier --ignore-unknown --write

Create LICENSE (#11)
  LICENSE
Due: prettier --ignore-unknown --write

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --ignore-unknown --write: any of: *
  eslint --fix: any of: {src/**,__tests__/**}.{mjs,js,cjs,ts,tsx}
  vite related --run --config ../../vite.config.ts: any of: src/**.ts
