Repository Phearion/big-brain: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, prettier --write --ignore-unknown, eslint --fix, stylelint --fix --allow-empty-input, vite related --run --config ../../vite.config.ts

.lintstagedrc.json:

{
	"$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
	"*": "prettier --write --ignore-unknown",
	"{src/**,__tests__/**}.{mjs,js,cjs,ts,tsx}": "eslint --fix",
	"src/**/*.{css,scss}": "stylelint --fix --allow-empty-input",
	"src/**.ts": "vite related --run --config ../../vite.config.ts"
}

build: fixing auto deploy. (#6)
  .github/workflows/deploy.yml
Due: prettier --write --ignore-unknown

fix: added removed file from main
  src/__tests__/components.test.tsx
Due: prettier --write --ignore-unknown

fix: removed useless file
  src/__tests__/components.test.tsx
Due: prettier --write --ignore-unknown

build: including secrets for ip and port
  .github/workflows/deploy.yml
Due: prettier --write --ignore-unknown

Deploying to gh-pages from @ ipsa-scrypt/big-brain@26fe7d09216ce5aab3ca5d0658508a0f27892011 🚀
  assets/index-3hMxVAb2.js
  assets/index-Y0Oz6Qm9.js
  index.html
Due: prettier --write --ignore-unknown

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write --ignore-unknown

fix: improved the output display
  src/App.css
  src/components/Output.tsx
Due: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input

fix: improved the output display (#8)
  src/App.css
  src/components/Output.tsx
Due: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input

Updates
  assets/index-5pr-Be-0.js
  assets/index-NNl_yPWQ.css
  assets/index-aQmwPYsq.css
  index.html
Due: prettier --write --ignore-unknown

feat: first implementation of loader + responsive corrections
  src/App.css
  src/components/Body.tsx
Due: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input

feat: showing loader until the output is visible
  src/App.css
  src/components/Output.tsx
  src/components/Submit.tsx
Due: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input

feat: added a scale animation on the history button
  src/App.css
Due: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input

feat: changed the position of the loader
  src/App.css
  src/components/Body.tsx
  src/components/Output.tsx
  src/components/Submit.tsx
Due: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input

test: modify test and still doesn't work
  jest.config.js
  jest.setup.js
  src/__tests__/submit.test.tsx
Due: prettier --write --ignore-unknown

feat: output div with the user's question is displayed while calling API + accessory features
  src/App.css
  src/components/Output.tsx
  src/components/Submit.tsx
Due: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input

chore: removed jest.setup.js from git track
  jest.setup.js
Due: prettier --write --ignore-unknown

chore: added jest.setup.js to gitignore
  .gitignore
Due: prettier --write --ignore-unknown

feat: submit to sushi for safety analysis
  .gitignore
  src/components/Submit.tsx
  src/sushi/checkRequest.tsx
  src/sushi/checkSushiRequest.tsx
Due: prettier --write --ignore-unknown

chore: separation of App.css into several themed css files
  src/App.css
  src/App.tsx
  src/index.tsx
  src/main.tsx
  src/styles/common-style.css
  src/styles/index.css
  src/styles/large-screens-style.css
  src/styles/mobiles-style.css
  src/styles/tablets-style.css
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix --allow-empty-input

feat: first version of the credits feature
  public/img/contributors/matthias.png
  public/img/contributors/pritam.png
  public/img/contributors/zakaria.png
  public/img/github.png
  src/App.tsx
  src/components/Contributor.tsx
  src/components/Credits.tsx
  src/components/Header.tsx
  src/components/Tips.tsx
  src/styles/common-style.css
  src/styles/large-screens-style.css
  src/styles/mobiles-style.css
  src/styles/tablets-style.css
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix --allow-empty-input

fix: modified a tsx file to do build and deploy commands without errors
  src/components/Credits.tsx
Due: prettier --write --ignore-unknown

fix: fixed naming error in import statement in app.tsx
  src/App.tsx
Due: prettier --write --ignore-unknown, eslint --fix

Updates
  assets/index-5pr-Be-0.js
  assets/index-XuerxvaQ.js
  assets/index-aQmwPYsq.css
  assets/index-q6y9ydZL.css
  img/contributors/matthias.png
  img/contributors/pritam.png
  img/contributors/zakaria.png
  img/github.png
  index.html
Due: prettier --write --ignore-unknown

feat: added an intro page and fixed design and responsive for the credits div
  public/img/phearion.png
  src/App.tsx
  src/components/Credits.tsx
  src/components/IntroPage.tsx
  src/styles/common-style.css
  src/styles/index.css
  src/styles/intro-page-style.css
  src/styles/large-screens-style.css
  src/styles/mobiles-style.css
  src/styles/tablets-style.css
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix --allow-empty-input

feat: responsive design for the intro page
  src/App.tsx
  src/styles/intro-page-common-style.css
  src/styles/intro-page-large-screens-style.css
  src/styles/intro-page-mobiles-style.css
  src/styles/intro-page-tablets-style.css
  src/styles/main-page-common-style.css
  src/styles/main-page-large-screens-style.css
  src/styles/main-page-mobiles-style.css
  src/styles/main-page-tablets-style.css
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix --allow-empty-input

fix: corrected the double input of index.css
  src/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat: animations and effects on the website (#9)
  public/img/contributors/matthias.png
  public/img/contributors/pritam.png
  public/img/contributors/zakaria.png
  public/img/github.png
  public/img/phearion.png
  src/App.css
  src/App.tsx
  src/components/Contributor.tsx
  src/components/Credits.tsx
  src/components/Header.tsx
  src/components/IntroPage.tsx
  src/components/Output.tsx
  src/components/Submit.tsx
  src/components/Tips.tsx
  src/index.tsx
  src/main.tsx
  src/styles/index.css
  src/styles/intro-page-common-style.css
  src/styles/intro-page-large-screens-style.css
  src/styles/intro-page-mobiles-style.css
  src/styles/intro-page-tablets-style.css
  src/styles/main-page-common-style.css
  src/styles/main-page-large-screens-style.css
  src/styles/main-page-mobiles-style.css
  src/styles/main-page-tablets-style.css
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix --allow-empty-input

feat: implemented a waiting message while the loader is active and a message if no data were found
  src/App.tsx
  src/components/Body.tsx
  src/components/Output.tsx
  src/components/Submit.tsx
  src/styles/intro-page-large-screens-style.css
  src/styles/intro-page-mobiles-style.css
  src/styles/main-page-large-screens-style.css
  src/styles/main-page-mobiles-style.css
  src/styles/main-page-tablets-style.css
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix --allow-empty-input

feat: when data are displayed in the div, the submit component is abled back
  src/components/Output.tsx
  src/components/Submit.tsx
  src/styles/main-page-common-style.css
Due: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input

feat: implemented som elements behavior while fetching data (#12)
  src/App.tsx
  src/components/Body.tsx
  src/components/Output.tsx
  src/components/Submit.tsx
  src/styles/intro-page-large-screens-style.css
  src/styles/intro-page-mobiles-style.css
  src/styles/main-page-common-style.css
  src/styles/main-page-large-screens-style.css
  src/styles/main-page-mobiles-style.css
  src/styles/main-page-tablets-style.css
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix --allow-empty-input

feat: created a hamburger menu with history and credits access from there
  src/App.tsx
  src/components/Body.tsx
  src/components/Credits.tsx
  src/components/HamburgerMenu.tsx
  src/components/Header.tsx
  src/components/History.tsx
  src/styles/main-page-common-style.css
Due: prettier --write --ignore-unknown, eslint --fix, stylelint --fix --allow-empty-input

feat: responsive for large and mobile screen sizes
  src/styles/main-page-common-style.css
  src/styles/main-page-large-screens-style.css
  src/styles/main-page-mobiles-style.css
Due: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input

feat: responsive for tablets + fix submittedRequests display in the history
  src/components/HamburgerMenu.tsx
  src/components/History.tsx
  src/styles/main-page-common-style.css
  src/styles/main-page-large-screens-style.css
  src/styles/main-page-mobiles-style.css
  src/styles/main-page-tablets-style.css
Due: prettier --write --ignore-unknown, stylelint --fix --allow-empty-input

Updates
  assets/index-XuerxvaQ.js
  assets/index-oZaGaMhH.js
  assets/index-ph5a8TFF.css
  assets/index-q6y9ydZL.css
  img/clock.png
  img/phearion.png
  index.html
Due: prettier --write --ignore-unknown

Updates
  assets/index-5lc5kGuH.css
  assets/index-7Ce3-pTk.js
  assets/index-ph5a8TFF.css
  index.html
Due: prettier --write --ignore-unknown

feat: temporary alert if sql injection detected
  src/components/Submit.tsx
  src/sushi/checkSushiRequest.tsx
Due: prettier --write --ignore-unknown

feat: modified submit's ui behavior
  src/components/Submit.tsx
Due: prettier --write --ignore-unknown

Updates
  assets/index-5lc5kGuH.css
  assets/index-71EfS9rg.css
  assets/index-h9Dd4fIh.js
  index.html
Due: prettier --write --ignore-unknown

Updates
  assets/index-71EfS9rg.css
  assets/index-WbshShtv.js
  assets/index-tixMyLaL.css
  index.html
Due: prettier --write --ignore-unknown
